{{trans_default_domain("demo")}}

<nav class="navbar navbar-custom" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a><img alt="nodefony" style="margin-left:0px ;margin-top:10px ;float:left" width="32px" height="29px" src="/framework-bundle/images/nodefony-logo.png">
        <a>
          <a class="navbar-brand text-primary" href="{{url('home')}}" style="margin-left:0px">
            <strong class="text-primary">NODEFONY</strong>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">

          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if angular %}
                  <li>
                    <a href="{{url('angular')}}">ANGULAR</a>
                  </li>
                  <li role="separator" class="divider"></li>
                {% endif %}
                {% if react %}
                  <li>
                    <a href="{{url('react')}}">React</a>
                  </li>
                  <li role="separator" class="divider"></li>
                {% endif %}
                <li>
                  <a href="{{url('finder')}}">DEMO FINDER</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('upload')}}">DEMO UPLOAD</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('orm')}}">ORM SEQUELIZE</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('sql')}}">QUERY SQL</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('sqlJoin')}}">QUERY SQL JOIN</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('syscall')}}">SYSTEM CALL</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('httpRequest')}}">HTTP REQUEST</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('websocket')}}">WEBSOCKET</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('json')}}">RENDER JSON</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{url('redirect')}}">REDIRECT</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO REALTIME<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{url('indexReal')}}">DEMO REALTIME</a>
                </li>
                {% if user.username %}{% endif %}
              </ul>
            </li>
            {% if audio %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEDIAS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{url(' webAudioApi')}}">WEB AUDIO API MIXER</a>
                  </li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
            {% endif %}
            {% block documentation %}
              {{ render( controller("demo-bundle:demo:doc" )) }}
            {% endblock %}
            <li class="dropdown">
              <a href="{{url('monitoring-index')}}" role="button" aria-haspopup="true" aria-expanded="false">MONITORING</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right ">
            <li style='top:12px'>
              {% if user.image %}
                <img width="26px" height="26px" src="{{ user.image }}" alt=""></img>
              {% else %}
                <i class="fa fa-user"></i>
              {% endif %}
            </li>
            <li class="dropdown">
              {% if user.username and user.username != "anonymous" %}
                {% if user.displayName %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.displayName}}
                    <span class="caret"></span>
                  </a>
                {% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}
                    <span class="caret"></span>
                  </a>
                {% endif %}
                <div class="dropdown-menu float-right">
                  <div class="box-sm">
                    <div class="login-box clearfix" style="padding: 10px 15px;">
                      <div class="user-img">
                        {% if user.image %}
                          <img src="{{ user.image }}" alt=""></img>
                        {% else %}
                          <img src="/framework-bundle/images/nodefony-logo.png" alt="nodefony-logo"></img>
                        {% endif %}
                      </div>
                      <div class="user-info">
                        <span>{{user.username }}
                          <i>{{user.name }}
                            {{user.surname }}</i>
                        </span>
                      </div>
                    </div>
                    <div class="account">
                      <div class="">
                        <a href="{{url('demoLogout')}}" class="btn btn-flat display-block font-normal ">
                          <i class="glyph-icon icon-power-off"></i>
                          {{ "logout"|trans() }}
                        </a>
                      </div>
                      <div class="">
                        <a href="{{url('subscribe')}}" class="btn btn-flat display-block font-normal ">
                          <i class="glyph-icon icon-power-off"></i>
                          {{ "Add account "|trans() }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "Login"|trans() }}
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu ">
                  <div class="box-sm">
                    <div class=" " style=" padding:="padding:" 10px="10px" 15px;"=" 15px;""="15px;" "">
                      AUTHENTICATIONS TYPES
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul">
                      <li>
                        <a href="{{url('basicArea')}}">{{ "passport-basic"|trans("messages") }}</a>
                      </li>
                      <li>
                        <a href="{{url('digestArea')}}">{{ "passport-digest"|trans("messages") }}</a>
                      </li>
                      <li>
                        <a href="{{url('localArea')}}">{{ "passport-local"|trans("messages") }}</a>
                      </li>
                      <li>
                        <a href="{{url('googleArea')}}">{{ "passport-google"|trans("messages") }}</a>
                      </li>
                      <li>
                        <a href="{{url('githubArea')}}">{{ "passport-github"|trans("messages") }}</a>
                      </li>
                    </ul>
                    <div class="account">
                      <div class="">
                        <a href="{{url('subscribe')}}" class="btn btn-flat display-block font-normal ">
                          <i class="glyph-icon icon-power-off"></i>
                          {{ "Add account "|trans("messages") }}
                        </a>
                      </div>
                    </div>

                  {% endif %}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- .container -->
    </nav>
